<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="episode">
            <h2><span>Episode</span> {{ episode.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ episode.title }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ episode.description }}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{ episode.date }}</span>
                </dd>
                <dt><span>Series</span></dt>
                <dd>
                    <div *ngIf="episode.series">
                        <a [routerLink]="['/series', episode.series?.id, 'view']">{{ episode.series?.id }}</a>
                    </div>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <div *ngIf="episode.createdBy">
                        <a [routerLink]="['/producer', episode.createdBy?.id, 'view']">{{ episode.createdBy?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/episode', episode.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
